.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.galleryItem {
  flex: 1 1 calc(25% - 16px);
  box-sizing: border-box;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  list-style: none;
}

/* .galleryItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */
@media (max-width: 768px) {
  .galleryItem {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .galleryItem {
    flex: 1 1 100%;
  }
}
