.modalContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Уніфікуємо розмір */
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.prevButton svg,
.nextButton svg {
  width: 20px;
  height: 20px;
  color: black;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Трохи яскравіший фон */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* Більше тіні для об'ємності */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 1); /* Яскравіший фон при наведенні */
  transform: scale(1.1); /* Легка анімація збільшення */
}

.closeButton svg {
  width: 20px;
  height: 20px;
  color: black; /* Чорний хрестик */
}
